* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: aliceblue;
    padding: 2rem;

    box-shadow: 0 2px 1px rgb(177, 177, 177);
}

.header button {
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bookshelf {
    height: 80vh;
    width: 80vw;
    grid-column: 2;
    padding: 20px 80px 40px 90px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}

.book {
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.book p:last-child {
    margin-top: auto;
    color: red;
    cursor: pointer;
}

dialog {
    margin: 10vh auto;
    padding: 1rem;
    display: none;
    flex-direction: column;

    border-radius: 1rem;
}

dialog button {
    align-self: center;
}

